@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensanslight.woff2') format('woff2'), url('../font/opensans/opensanslight.woff') format('woff'), url('../font/opensans/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensanslightitalic.woff2') format('woff2'), url('../font/opensans/opensanslightitalic.woff') format('woff'), url('../font/opensans/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensans.woff2') format('woff2'), url('../font/opensans/opensans.woff') format('woff'), url('../font/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensansitalic.woff2') format('woff2'), url('../font/opensans/opensansitalic.woff') format('woff'), url('../font/opensans/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensanssemibold.woff2') format('woff2'), url('../font/opensans/opensanssemibold.woff') format('woff'), url('../font/opensans/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensanssemibolditalic.woff2') format('woff2'), url('../font/opensans/opensanssemibolditalic.woff') format('woff'), url('../font/opensans/opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensansbold.woff2') format('woff2'), url('../font/opensans/opensansbold.woff') format('woff'), url('../font/opensans/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensansbolditalic.woff2') format('woff2'), url('../font/opensans/opensansbolditalic.woff') format('woff'), url('../font/opensans/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensansextrabold.woff2') format('woff2'), url('../font/opensans/opensansextrabold.woff') format('woff'), url('../font/opensans/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/opensansextrabolditalic.woff2') format('woff2'), url('../font/opensans/opensansextrabolditalic.woff') format('woff'), url('../font/opensans/opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('montserrathairline.woff2') format('woff2'), url('montserrathairline.woff') format('woff'), url('../font/montserrat/montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/montserratlight.woff2') format('woff2'), url('../font/montserrat/montserratlight.woff') format('woff'), url('../font/montserrat/montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/montserrat.woff2') format('woff2'), url('../font/montserrat/montserrat.woff') format('woff'), url('../font/montserrat/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/montserratbold.woff2') format('woff2'), url('../font/montserrat/montserratbold.woff') format('woff'), url('../font/montserrat/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/montserratblack.woff2') format('woff2'), url('../font/montserrat/montserratblack.woff') format('woff'), url('../font/montserrat/montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Great Vibes';
    src: url('../font/greatevibes/greatvibes.woff2') format('woff2'), url('../font/greatevibes/greatvibes.woff') format('woff'), url('../font/greatevibes/greatvibes.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

