
* {
	margin: 0;
	padding: 0;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
body {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}
a {
	text-decoration: none;
	color: #9a9a9a;
}
header {
	position: relative;
	height: 100%;
	width: 100%;
	color: #9a9a9a;
    font-family: 'Open Sans';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
}
.border-info {
	max-width: 1172px;
	width: 100%;
}
.top-bar {
	position: relative;
	background-color:  #f6f6f6;	
	width: 100%;
	padding-bottom: 5px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
}
.top-bar__account {
	position: relative;
 	display: inline-block;
 	float: right;
 	width: 155px;
 	height: 15px;
 	font-size: 13px;
 	padding: 10px 0;
 	
}
#user-menu {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 25;
	width: 150px;
	height: 110px;
	background-color: #f6f6f6;
	border-radius: 0 0 15px 15px;
}
#user-menu a {
	display: inline-block;

	width: 200px;
	height: 15px;
	padding: 10px 0 10px 10px;
}
#user-menu a:first-child {
	color:  #ff7f00;
}
#user-menu a:hover {
	color:  #ff7f00;
}
.top-bar__name {
	display: inline-block;
 	float: right;
 	width: 100px;
 	height: 15px;
 	font-size: 15px;
 	padding: 9px 0;
 	color:  #ff7f00;
}

.account{ 
	float: right;
	padding: 0 33px 0 0;
}
.top-bar__mail {
	display: inline-block;
 	float: left;
 	padding: 10px 0;
 	font-size: 13px;
}
.top-bar__call {
	display: inline-block;
 	float: left;
 	padding: 10px 0;
 	font-size: 13px;
}
.top-bar .top-bar__mail i{ 
	padding: 0 12px 0 0;
}
.top-bar .top-bar__call i{ 
	padding: 0 12px 0 5px;
}
.vertical-line {
	display: inline-block;
	height: 13px;
	width: 2px;
	margin: 0 10px;
	background: #e6e6e6;
}

.top-center {
	min-height: 90px;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	 align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.top-center__logo {
	height: 100%;
	min-height: 45px;
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}
.top-center__search {
	height: 100%;
	margin-top: 10px;
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.top-center__search form {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        -webkit-box-pack: end;
	            -ms-flex-pack: end;
	                justify-content: flex-end;
}
.input-search {
	position: relative;
	width: 57%;
	height: 35px;
	border-radius: 20px;
	border: 1px solid #e6e6e6;
	padding: 0 15px;
}

.input-search:focus {
	border-radius: 20px;
	border: 1px solid #ff7f00;
}
.btn-search {
	position: absolute;
	right: 5px;
	width: 29px;
	height: 29px;
	border-radius: 50px;
	border: 0;
	background-color: #ff7f00;
	color: #ffffff;
	font-size: 17px;
}

.menu-bar {
	padding: 15px 0 10px 0;
	width: 100%;
	min-height: 15px;	
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        -webkit-box-pack: justify;
	            -ms-flex-pack: justify;
	                justify-content: space-between;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
}
.menu-bar__top-menu {
	display: block;
	width: 53%;
}
.menu-bar__top-menu ul {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        -webkit-box-pack: justify;
	            -ms-flex-pack: justify;
	                justify-content: space-between;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
}
.menu-bar__top-menu ul li {
	font-size: 13px;
	margin-bottom: 8px;
	text-transform: uppercase;
	list-style: none;
	font-family: Montserrat;
	font-weight: bold;
}
.menu-bar__top-menu ul li a:hover {
	color: #ff7f00;
	padding-bottom: 18px;
	border-bottom: 3px solid #ff7f00;
}
.menu-bar__top-menu ul li a:active {
	color: #ff7f00;
	padding-bottom: 15px;
	border-bottom: 3px solid #ff7f00;
}
.menu-bar__top-menu a {
	color: #313131;
}
.menu-bar__top-social {
	width: 14%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.menu-bar__top-social a {
	display: block;
	position: relative;
	margin-bottom: 6px;
	font-size: 13px;
	color: #8b8b8b;

}
.menu-bar__top-social a:hover {
	color: #ff7f00;
}
/*BLOG-POST*/
.blog-post {
	position: relative;
	min-height: 120px;
	height: 100%;
	background-color: white;
	padding: 80px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	       	       
	-webkit-box-align: center;	       	       
	-ms-flex-align: center;	       	       
	align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.blog-post__item {
	display: block;
	min-height: 500px;
	height: 495px;
	max-width: 360px;
	width: 100%;
	background-color: #f7f7f7;
	border: 5px solid #f7f7f7; 
	margin-bottom: 56px;
}
.box-img {
	position: relative;
	display: block;
	width: 360px;
	height: 290px;
	background-color: white;
	margin: auto;
	overflow:hidden;
}
.data {
	position: absolute;
	bottom: 0;
	display: block;
	font-size: 22px;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #ff7f00;
	color: white;
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 15px;
}
.data p {
	display: block;
	position: relative;
	margin-top: 7px;
}
.data span {
	display: block;
	position: relative;
	margin-top: 7px;
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 400;
}
.box-descriotion {
	position: relative;
	display: block;
	width: 340px;
	margin: auto;
}
.box-descriotion__head {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	max-height: 80px;
	padding: 25px 0 20px 0;
	color: #3c3c3c;
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;
}
.box-descriotion__text {
	position: relative;
	display: block;
	width: 100%;
	height: 70px;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #c2c2c2;
	line-height: 180%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;
}
.box-descriotion__box-action {
	position: relative;
	margin-top: 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.box-descriotion__box-action__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	border-radius: 50px;
	height: 30px;
	width: 75px;
	background-color:  white;
	border: 1px solid  #c2c2c2;
	font-size: 12px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #313131;
}
.box-descriotion__box-action__btn:hover {
	color: white;
	background-color: #ff7f00;
	border: 1px solid  #ff7f00;
}
.box-action__comments {
	display: block;
	position: relative;
	width: 125px;
	font-size: 10px;
	font-family: 'Montserrat';
	font-weight:600;
	color: #313131;
	padding-left: 12px;
}
.box-action__like {
	display: block;
	position: relative;
	width: 100px;
	font-size: 12px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #313131;
}
.box-action__comments i,
.box-action__like i {
	font-size: 14px;
	color: #313131;
	display: inline-block;
	height: 10px;
	width: 22px;
}
.box-action__comments a{
	font-size: 14px;
	color: #313131;
	display: inline-block;
	height: 10px;
	width: 100px;
}
.box-action__like a {
	font-size: 14px;
	color: #313131;
	display: inline-block;
	height: 10px;
	width: 65px;
}
/*PAGINATION*/
.pagination {
	position: absolute;
	bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.pagination a:hover {
	background-color: #ff7f00;
	color: white;
	border-color: white;
}
.pagination a:active {
	background-color: #ff7f00;
	color: white;
	border-color: white;
}
.pagination a {
	margin: 4px;
	padding: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	top: 5px;
	height: 14px;
	width: 14px;
	border-radius: 15px;
	border: 1px solid #adadad;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
 	font-family: 'Open Sans'; 
}
/*created-post*/
.created-post {
	position: relative;
	min-height: 120px;
	height: 100%;
	background-color: white;
	padding: 80px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.created-post form {
	width: 100%;
display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	        -webkit-box-orient: vertical;
	        -webkit-box-direction: normal;
	            -ms-flex-direction: column;
	                flex-direction: column;
}
.created-post form input[type=text] {
	display: block;
	width: 82%;
	height: 25px;
	padding-left: 10px;
	margin: 0 0 10px 0;
	border-radius: 20px;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #636363;
	border: 1px solid  #c2c2c2;
}
.created-post form input[type=file] {
	display: display;
	width: 82%;
	height: 25px;
	float: left;
}
.created-post form input[type=submit] {
	display: block;
	width: 320px;
	height: 35px;
	background-color: #ff7f00;
	border: none;
	border-radius: 20px;
	color: white;
}


.created-post form textarea {
	position: relative;
display: block;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #636363;
	border: 1px solid  #c2c2c2;
}
.created-post label { 
	display: block;
	width: 79%;
	font-family: 'Open Sans';
	font-size: 15px;
	color: #636363;
	padding: 5px 0;
}
/*BANNER*/
.banner {
	min-height: 300px;
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #525252;
}
.banner__title {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.banner__title h2 {
	font-size: 36px;
	font-family: 'Great Vibes';
	font-weight: 100;
	color: #ff7f00;
 }
.banner__title h1 {
	font-size: 29px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	
	color: #ffffff;
	letter-spacing: 0.1em;
 }
.banner__title h4 {
	font-size: 12px;
	font-family: 'Montserrat';
	color: #ffffff;
 }
.banner__title h4 span {
	font-size: 12px;
	font-family: 'Montserrat';
	color: #ff7f00;
 }
.banner__title h4 i {
 	font-size: 12px;
 	display: inline-block;
 	padding: 5px;
 }

/*BRANDS*/
.brends {
	position: relative;
	margin-top:25px;
	padding-top: 56px; 
 	height: 400px;
 	width: 100%;
 	background-image: url(../img/slayer-1.png);
 	background-size: cover;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	        -webkit-box-align: center;
 	            -ms-flex-align: center;
 	                align-items: center;
 	        -webkit-box-pack: start;
 	            -ms-flex-pack: start;
 	                justify-content: flex-start;
 	        -webkit-box-orient: vertical;
 	        -webkit-box-direction: normal;
 	            -ms-flex-direction: column;
 	                flex-direction: column;
}
.brends__title {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 17px;
		padding-bottom: 40px;
}
.brends__title h1 {
	text-align: center;
	padding-bottom: 10px;
}
.slider {
	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	        -webkit-box-align: center;
 	            -ms-flex-align: center;
 	                align-items: center;
 	-webkit-box-pack: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
	width: 70%;
	padding: 0px 65px 0 90px;
}
/*NewLetter*/
.newsletter {
	position: relative;
	display: block;
	height: 0;
}
.newsletter-up { 
	position: absolute;
	top: -55px;
	z-index: 50;
	background-color: white;
	width: 100%;
	height: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: center;
	        flex-direction: center;
}
.newsletter__left img{
	margin-top: 10px;
 }
.newsletter__right img{
	margin-top: 10px;
 }
.newsletter__center {
	position: relative;
	width: 570px;
	padding: 0 40px;
}
.newsletter__center-box {
	position: absolute;
	top: -83px;
	width: 570px;
	min-height: 165px;
	z-index: 10;
	background-color: white;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.newsletter__center-box__position {
	position: relative;
	min-height: 165px;
	width: 570px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	        -webkit-box-orient: vertical;
	        -webkit-box-direction: normal;
	            -ms-flex-direction: column;
	                flex-direction: column;
}
.center-box__title {
	width: 100%;
	padding-top: 25px;
		position: relative;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	        -webkit-box-orient: vertical;
	        -webkit-box-direction: normal;
	            -ms-flex-direction: column;
	                flex-direction: column;
}
.center-box__title h3{
	padding-bottom: 10px;
}
.center-box__title img{
	padding-bottom: 25px;
}
.newsletter__center-box__position form {
	width: 100%;
	height: 100%;
}
.center-box__inpt-subscribe {
	position: relative;
	display: block;
	margin: auto;
	height: 38px;
	width: 230px;
	padding-right: 110px;
	padding-left: 18px;
	font-style: italic;
	border-radius: 50px;
	border: 1px solid silver;
}
.center-box__btn-subscribe {
	position: absolute;
	display: block;
	width: 100px;
	height: 40px; 
	border-radius: 0 50px 50px 0;
	border: none;
	right: 100px;
	bottom: 36px;
	background-color: #ff7f00;
	color: #ffffff;
	font-size: 12px;
	font-family: 'Montserrat';
}
/*FOOTER*/
footer {
	min-height: 455px;
	height: 100%;
	width: 100%;
}
.footer__top__menu {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
}
.footer__menu__head {
	font-size: 14px;
	font-family: 'Montserrat';
	color: #707070; 
	font-weight: 600;
	padding: 0 0 8px 0;
}
.footer__menu__list {
	padding: 5px 0 10px 0;
}
.footer__menu__list li {
	padding: 10px 0;
	font-size: 13px;
	font-family: 'Open Sans';
	color: #707070;
	font-weight: 600;
	list-style-type: none;
}
.menu__my-account a::before {
  	content: '\f111';
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 5px;
    padding-right: 10px; /* Расстояние от маркера до текста */
	position: relative;
	bottom: 3px;	
}
.menu__orders a::before {
  	content: '\f111';
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 5px;
    padding-right: 10px; /* Расстояние от маркера до текста */
	position: relative;
	bottom: 3px;	
}
.menu__information a::before {
  	content: '\f111';
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 5px;
    padding-right: 10px; /* Расстояние от маркера до текста */
	position: relative;
	bottom: 3px;	
 }
.menu__contact {
	line-height: 26px;
}
.footer__menu__list i {
	padding-right: 10px;
}
.footer__menu__list a:hover {
	color: #ff7f00;
}
.footer__top {
	padding-top: 118px;
	background-color: #222222;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.btn-up {
	position: absolute;
	display: block;
	height: 35px;
	width: 35px;
	border: 1px solid #636363;
	border-radius: 50px;
	text-align: center;
	top: -20px;
}
.btn-up::after {
	content: '';
	display: block;
	margin-left: -1px;
	width: 38px;
	height: 20px;
	background-color: #1c1c1c
}
.btn-up i {
	font-size: 12px;
	color: #ff7f00;
 }
.copyright {
	position: relative;
	font-family: 'Open Sans';
	font-size: 13px;
	background-color: #1c1c1c;
	min-height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.copyright_text {
	color: #636363;
}
.copyright_text span{
	color: #ff7f00;
}
.pagination-active {
	display: block;
	background-color: #ff7f00;
	color: white;
}
.footer__bottom {
	min-height: 50px;
	padding-bottom: 10px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	            -ms-flex-direction: row;
	                -webkit-box-orient: horizontal;
	                -webkit-box-direction: normal;
	                    flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.bottom__social {
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}
.bottom__social a {
	margin-right: 14px;
 	display: inline-block;
 	height: 29px;
 	width: 29px;
 	border-radius: 20px;
 	border: 1px solid #636363;
}
.bottom__social a:hover {
	color: #ff7f00;
	border: 1px solid #ff7f00;;
}
.bottom__social a i {
	font-size: 13px;
	height: 30px;
 	width: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	        -webkit-box-orient: vertical;
	        -webkit-box-direction: normal;
	            -ms-flex-direction: column;
	                flex-direction: column;
}
.footer__bootom__card {
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__bootom__card img {
	padding: 0 0 0 16px;	
}


/*blog-details*/
.top {
	padding-top: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.blog-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.blog-details__left-box {
	position: relative;
	width: 74%;
	height: 100%;
	overflow: hidden;
	display: block;
	margin-right: 30px;
}
.blog-details__side-bar {
	position: relative;
	display: block;
	width: 270px;
	height: 100%;
}
.input-search-min {
 	position: relative;
	width: 100%;
	height: 35px;
	border-radius: 20px;
	border: 1px solid #e6e6e6;
	padding: 0 15px;
}

/*HR*/

.line {
	display: block;
	height: 2px;
	margin: 5px 0 ;
}
.color-light {
	background-color: #f6f6f6;
}
.color-dark {
	background-color: #636363;
}
.size-min {
	width: 20%;
}
.size-center {
	width: 50px;
}
.size-max {
	width: 100%;
}

.blog-details__categories ul {
	padding: 16px 0 2px 0;
}
.blog-details__categories ul li {
	list-style: none;
	padding:  0 0 18px 0;
}
.blog-details__categories ul li:before {
	list-style: none;
}
.blog-details__categories ul li a:before {
	list-style: none;
	content: '\f105';
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 5px;
    padding-right: 10px; /* Расстояние от маркера до текста */	
    font-size: 13px;
}
.blog-details__categories ul li a {
	font-family: 'Open Sans';
	font-size: 13px;
}
.blog-details__categories ul li a:hover {
	color: #ff7f00; 
}
.side-bar__search {
	height: 100%;
	padding-bottom: 40px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.side-bar__search form {
	position: relative;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        -webkit-box-pack: end;
	            -ms-flex-pack: end;
	                justify-content: flex-end;
}
.blog-details__recent-post {
	padding:0 0 25px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	        width: 100%;
	        height: 100%;
	        
}
.blog-details__recent-post img {
	background-size: cover;
}
.blog-details__recent-post h4 {
	padding: 35px 0 0 0;
}
.recent-post__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.recent-post__item {
	position: relative;
	padding: 30px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.item_text {
	padding-left: 15px;
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 300;
}
.item_text h5 {
	padding: 0 0 10px 0;
	font-weight: 300;
}
.item_text span {
	color: #636363;
	font-family: 'Open Sans';
	font-size: 13px;
	font-style: italic;
}
.recent-post__item:hover img{
	opacity: 0;  
}
.recent-post__item:hover h5{
	color: #ff7f00;
}
.item_img {
	background-image: url(../img/Shape-1-hover.png);
	display: block;
	width: 70px;
	height: 70px;
}
.blog-details__on-sale {
	padding: 0 0 30px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.blog-details__on-sale h4 {
	padding: 32px 0 0 0;
}
.on-sale__text span {
	color: #ff7f00;
}
.on-sale__text h5 {
	color: #636363;
}
.blog-details__shop-now {
	padding: 40px 0;
}
.blog-details__box-img {
	position: relative;
	display: block;
	width: 99%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	border: 3px solid #f2f2f2;
}
.blog-details__box-img  img {
	background-color: white;
	
}
.blog-details__head {
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 200;
	padding: 50px 0 15px 0;
}
.blog-details__owner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	
}
.blog-details__owner a {
	font-size: 14px;
	padding: 0 20px 0 0; 
}
.blog-details__owner i {
	font-size: 14px;
	padding: 0 10px 0 0; 
}
.blog-details__owner a:hover {
	color: #ff7f00; 
}
.blog-details__text {
	padding: 45px 0;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #c2c2c2;
	line-height: 180%;
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.blog-details__tags {
	padding: 45px 0;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #c2c2c2;
}
.tags {
	display: block;
	min-width: 150px;
}
.tags a {
	padding: 0 20px 0 0; 
}
.tags i {
	padding: 0 10px; 
}
.blog-details__tags a:hover {
	color: #ff7f00; 
}
.share-social {
	margin-right: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 158px;
	height: 35px;
	border: 1px solid #c2c2c2;
	border-radius: 35px;
	font-size: 12px;
}
.share-social a {
	padding: 0 10px;
}
.share-social button {
	height: 35px;
	width: 35px;
	border-radius: 35px;
	border: none;
	color: white;
	background-color: #ff7f00; 
}
.blog-details__tags {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
}

/*MEDIA*/
@media screen and (max-width: 950px) {
	.newsletter__left {
		overflow: hidden;
		display: none;
	}
	.newsletter__right {
		overflow: hidden;
		display: none;
	}	
	.blog-details__side-bar {
		display: none;
	}
	.top {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media screen and (max-width: 760px) {

	.center {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.share-social {
		margin-right: 5px;	
	}
}
@media screen and (max-width: 665px) {
	.menu-bar__top-menu ul li a{
		font-size: 2vw;
	}
	.newsletter__center {
		width: 320px;
		padding: 0;
	}
	.newsletter__center-box { 
		width: 320px;
	}
 	.center-box__inpt-subscribe {
	width: 170px;
	padding-right: 110px;
	padding-left: 30px;
 	}
 	.newsletter__center-box__position {
 		width: 320px;
 	}
 	.center-box__btn-subscribe {
		right: 5px;
 	}
 	.footer__menu__list li{
 		font-size: 2vw;
 	}
 	.footer__menu__head {
 		font-size: 3vw;
 	}
 	.footer__bottom {
 		-webkit-box-pack: center; 
 		    -ms-flex-pack: center; 
 		        justify-content: center;
 	}
 	.tags {
		padding-top: 20px;
	}
}

/*BOx-Autorization*/
#authorization {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.window {
	position: absolute;
	display: block;
	top:  20%;
	left: 40%;
	background-color: white;
	border-radius: 20px;
}
.size-authorization {
	width: 320px;
	height: 210px;
}
.head-form {
	font-weight: bold;
	font-size: 20px;
	color: #636363;
    font-family: 'Open Sans';
    padding-left: 30%;
    padding-bottom: 8px;
}
.close {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	background: none;
	border: none;
	font-size: 18px;
	color: #636363;
}
.window form {
	width: 100%;
	height: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	  -ms-flex-direction: column;
	     flex-direction: column;
}
.error {
	margin: 0 0 15px 0;
	color: red;
}
label #error {
	margin: 0 0 15px 0;
	color: red;
}
.window form input {
	width: 240px;
	height: 25px;
	padding-left: 10px;
	margin: 0 0 10px 0;
	border-radius: 20px;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #636363;
	border: 1px solid  #c2c2c2;
 }
.window form input:focus {
	color:black;
}
.window form input[type=submit] {
	background-color: #ff7f00;
	color: white;
}
.window form a:hover {
	color: #ff7f00;
}
/*BOx-registration*/
#registration {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.size-registration {
	width: 320px;
	height: 400px;
}
.gender {
	display: inline-block;
}
label {
	padding-right: 20px;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #c2c2c2
 }

.window form input[type=radio] {
	display:inline-block;
	width: 13px;
	height: 13px;
}
.window form input[type=checkbox] {
	display:inline-block;
	width: 13px;
	height: 13px;
}
#verification-registration-border {
	display:inline-block;
	position: absolute;
	width: 9px;
	height: 10px;
}
}
}
